/******************/
/* Toolbar/Header */
/******************/

/* Toolbar toggle button */

.toggle-btn {
  z-index: 998;
  position: fixed;
  margin-left: 20px;
  top: 14px;
  font-size: 25pt;
  font-weight: 900;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

#wrapper.toggled #toggle-btn {
    padding-left: 60px;
}

#btn-wrapper #toggle-btn {
  padding-left: 0;
/*  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;*/
  transition: all 0.5s ease;
}

/*#btn-wrapper.toggled #toggle-btn {
  padding-left: 60px;
}*/

.toggle-btn:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

/*Header bar*/

.header-bar {
  z-index: 997;
  position: fixed;
  top: -5px;
  right: 1px;
  height: 90px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#header-text {
  z-index: 999;
  font-size: 30pt;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-text a {
  color: #212529;
  text-decoration: none;
}

.user-btn {
  position: absolute;
  right:10px;
  top:23px;
}

.user-img {
  width: 50px;
  height: 50px;
}

.user-img:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/****************/
/* Modal Prompt */
/****************/

.modal-prompt {
  max-width: 325px;
}

.modal-btn {
  margin: 5px 0 0 0;
}

/*************/
/* Dashboard */
/*************/

.bs-container-modified {
  width: 100%;
  margin: auto;
}

.categories {
  /*border:3px solid #333;*/
  margin-top: 100px;
}

.category-text {
  text-align: center;
}

.content {
  margin: 90px auto auto auto;
  /*max-width: 800px;*/
}

.circle, .add-circle {
    height:250px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:250px;
    cursor: pointer;
}

.circle:hover, .add-circle:hover {
  background-color: #f8f9fa;
}

.circle {
    border: 1px solid;
}

.add-circle {
  border: 1px dashed gray;
  /*border:3px dashed gray;*/
  color: gray;
}

.center {
    margin: auto;
}

.delete-tournament {
  opacity: 0.0;
  position: absolute;
  top: 15%;
  left: 74%;
  background-color: white;
}

.details-shown {
  opacity: 1.0;
}

.btn-outline-secondary {
  cursor: pointer;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  background-color: #f8f9fa !important;
}

.head-room {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.circle-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

@media(max-width:768px) {

  .bs-container-fluid-modified {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .circle, .add-circle {
    height:200px !important;
    width: 200px !important;
  }

}

@media(max-width:600px) {

  #wrapper #header #header-text {
    z-index: 999;
    margin-top: 30px;
    font-size: 22pt;
  }

  #wrapper.toggled #header #header-text {
    z-index: 999;
    margin-top: 35px;
    font-size: 15pt;
  }
}

@media(max-width:991px) {
  .delete-tournament {
    top: 15%;
    left: 67%;
  }
}

@media(max-width:889px) {
  .delete-tournament {
    top: 15%;
    left: 70%;
  }
}

@media(max-width:768px) {
  .delete-tournament {
    top: 15%;
    left: 68%;
  }
}

@media(max-width:575px) {
  .delete-tournament {
    top: 15%;
    left: 62%;
  }

  .user-btn {
    visibility: hidden;
  }
  .record-badge {
    visibility: hidden;
  }
}

@media(max-width:450px) {
  .delete-tournament {
    top: 15%;
    left: 67%;
  }
  .matches-column {
    visibility: hidden;
  }
}

@media(max-width:360px) {
  #wrapper #header #header-text {
    margin-top: 35px;
    font-size: 17pt;
  }
}




/*************************/
/* Tournament add/rounds */
/*************************/

.round-card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.pair-card {
  margin: 20px 20px 20px 20px;
}

.pairings-header {
  margin-bottom: 10px;
}


.new-player-input, .new-players, .player-list {
  margin-bottom: 20px;
}

.add-players-view {
  max-width: 400px;
  margin: auto;
}

.lg-nav-txt {
    font-size: 20pt;
}

.list-group-item {
    font-size: 15pt;
}

.align-to-categories {
    padding-left: 10pt;
}

.active {
    border: #222222 !important;
}

.add-btn {
    margin-right: 10px;
    background-color: #222222;
    color: #9d9d9d;
    border-color: #9d9d9d;
}

.add-btn:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #222222;
}

.player-paired {
    width: 48%;
}

.player-active {
    color: #fff !important;
    background-color: #33bd3d !important;
}

.disabled {
    cursor: pointer !important;
}

.pair-separator, .divider, .sub-header-separator {
  height: 1px;
  width: 100%;
}

.pair-separator, .sub-header-separator {
  background-color:rgba(0,0,0,.125);
}

.sub-header-separator {
  margin-bottom: 15px;
  margin-top: 15px;
}

.divider {
  background-color: #999999;
  position: absolute;
  top: 85px;
}

.next-round {
    color: #337ab7;
    background-color: #fff !important;
    border-width: 2px;
    border-color: #337ab7;
    font-weight: 500;
}

.next-round:hover {
    color: #fff;
    background-color: #337ab7 !important;
    border-width: 2px;
    border-color: #337ab7;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.standings-btn {
    position: absolute;
    top: 20px;
    left: 93%;
    color: #337ab7;
}

.pairs {
    margin-top: 5px;
}