.lg-nav-txt {
    font-size: 20pt;
}

body {
    max-width: 1200px;
    margin: auto;
}

.list-group-item {
    font-size: 15pt;
}

.align-to-categories {
    padding-left: 10pt;
}

/*.active, .category-items:hover {
    background-color: #222222 !important;
    color: #ffffff !important;
}*/

.active {
    border: #222222 !important;
}

.add-btn {
    margin-right: 10px;
    background-color: #222222;
    color: #9d9d9d;
    border-color: #9d9d9d;
}

.add-btn:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #222222;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-well {
    height: 100px;
}

.pair {
    display: flex;
}

.paired-spacer {
    width: 4%;
}

.player-paired {
    width: 48%;
}

.disabled {
    cursor: pointer !important;
}