body {
  background-color: #b3cf02;
  color: #f5f5f5;
}

hr {
  background-color: #f5f5f5;
}

a, a:hover, a:focus {
  color: #f5f5f5;
}

/********************/
/* BS Modifications */
/********************/

.modal-header {
  background-color: #666666;
}

.modal-content {
  background-color: #b3cf02;
}

.btn-primary {
  background-color: #6aaefc;
}

.btn {
  border-color: #f5f5f5;
}

.form-control {
  background-color: #b3cf02;
  border-color: #f5f5f5;
  color: #f5f5f5;
}

.form-control:focus {
  background-color: #b3cf02;
  border-color: #f5f5f5;
  color: #f5f5f5;
}

.list-group-item {
  background-color: #b3cf02;
  border-color: #f5f5f5;
}

.player-paired .list-group-item:hover {
  border-color: #6aaefc;
}

.list-group-item:hover {
  background-color: #c3d75b;
}

.card, .list-group-item {
  border-color: #f5f5f5;
}

.list-group-item:focus {
  background-color: #b3cf02;
  border-color: #f5f5f5;
}

.mb-1, .badge {
  color: #f5f5f5;
}

.dropdown-menu {
  background-color: #666666;
}

.dropdown-item {
  color: #f5f5f5;
}

.dropdown-item:hover {
  background-color: #6aaefc;
  color: #f5f5f5;
}

/***********/
/* Sign In */
/***********/

.login-option {
  margin-top: 20px;
}

/******************/
/* Toolbar/Header */
/******************/

/* Toolbar toggle button */

.toggle-btn {
  z-index: 998;
  position: fixed;
  margin-left: 20px;
  top: 14px;
  font-size: 25pt;
  font-weight: 900;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

#wrapper.toggled #toggle-btn {
    padding-left: 60px;
}

#btn-wrapper #toggle-btn {
  padding-left: 0;
  transition: all 0.5s ease;
}

.toggle-btn:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

/**************/
/* Header bar */
/**************/

.header-bar {
  z-index: 997;
  position: fixed;
  top: -5px;
  right: 1px;
  height: 90px;
  width: 100%;
  background-color: #666666;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#header-text {
  z-index: 999;
  font-size: 30pt;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-text a {
  color: #f5f5f5;
  text-decoration: none;
}

.user-btn {
  position: absolute;
  right:10px;
  top:23px;
}

.user-img {
  width: 50px;
  height: 50px;
}

.user-img:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/****************/
/* Modal Prompt */
/****************/

.modal-prompt {
  max-width: 325px;
}

.modal-btn {
  margin: 5px 0 0 0;
}

/*************/
/* Dashboard */
/*************/

.bs-container-modified {
  width: 100%;
  margin: auto;
}

.categories {
  /*border:3px solid #333;*/
  margin-top: 100px;
}

.category-text {
  text-align: center;
}

.content {
  margin: 90px auto auto auto;
}

.circle, .add-circle {
    height:250px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:250px;
    cursor: pointer;
}
.circle {
    border: 2px solid;
}

.add-circle {
  border: 2px dashed #f5f5f5;
  color: #f5f5f5;
}
.center {
    margin: auto;
}

.circle:hover, .add-circle:hover {
  background-color: #c3d75b;
}

.circle:hover {
  border: 6px solid #6aaefc;
}

.add-circle:hover {
  border: 6px dashed #6aaefc;
}

.add-glyph {
  opacity: .2;
  position: absolute;
  transform: translateY(-50%);
  bottom: -19%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 200pt;
}

.add-circle:hover .add-glyph {
  opacity: .8;
}

.add-circle:hover .circle-text {
  color: #ff7d03;
}

.delete-tournament {
  opacity: 0.0;
  position: absolute;
  top: 15%;
  left: 74%;
  background-color: #666666;
}

.details-shown {
  opacity: 1.0;
}

.btn-outline-secondary {
  cursor: pointer;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  background-color: #f8f9fa !important;
}

.head-room {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.circle-text {
    font-size: 18pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.circle:hover .circle-text {
  color: #ff7d03;
}


/*************************/
/* Tournament add/rounds */
/*************************/

.round-card {
  border: 1px solid #f5f5f5;
  border-radius: .25rem;
}

.pair-card {
  margin: 20px 20px 20px 20px;
  border-color: #f5f5f5;
}

.pairings-header {
  margin-bottom: 10px;
}

.pair-number-box {
  position: relative;
  top: -20px;
  left: -20px;
  width: 100px; 
  height: 30px;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0 0 .25rem 0;
}

.pair-number-text {
  position: relative;
  left: 20px;
  top: 3px;
}

.new-player-input, .new-players, .player-list {
  margin-bottom: 20px;
}

.add-players-view {
  max-width: 800px;
  margin: auto;
}

.instructions {
  margin-bottom: 20px;
}

.lg-nav-txt {
    font-size: 20pt;
}

.list-group-item {
    font-size: 15pt;
}

.align-to-categories {
    padding-left: 10pt;
}

.active {
    border: #222222 !important;
}

.not-allowed {
  cursor: not-allowed !important;
  background-color: #868e96;
  border-color: #868e96;
  opacity: .65;
}

.add-btn {
    margin-right: 10px;
    background-color: #222222;
    color: #9d9d9d;
    border-color: #9d9d9d;
}

.add-btn:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #222222;
}

.player-paired {
  width: 48%;
}

.player-active {
    background-color: #6aaefc !important;
}

.player-active:hover {
    border-color: #f5f5f5 !important;
    background-color: #4499fb !important;
}

.player-active:hover .mb-1 {
    color: #f5f5f5;
}

.player-active:hover .badge {
    color: #f5f5f5;
}

.disabled {
  cursor: pointer !important;
  background-color: #c3d75b !important;
  opacity: .7;
}

.pair-separator, .divider, .sub-header-separator {
  height: 1px;
  width: 100%;
}

.pair-separator, .sub-header-separator {
  background-color: #f5f5f5;
}

.round-card .pair-separator:last-child {
  opacity: 0;
}

.sub-header-separator {
  margin-bottom: 15px;
  margin-top: 15px;
}

.divider {
  background-color: #999999;
  position: absolute;
  top: 85px;
}

.next-round {
    color: #337ab7;
    background-color: #fff !important;
    border-width: 2px;
    border-color: #337ab7;
    font-weight: 500;
}

.next-round:hover {
    color: #fff;
    background-color: #337ab7 !important;
    border-width: 2px;
    border-color: #337ab7;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.standings-btn {
    position: absolute;
    top: 20px;
    left: 93%;
    color: #337ab7;
}

.winner-highlight {
  background-color: #6aaefc;
  padding-left: 5px;
  padding-right: 5px;
  border-radius:3px; 
  -moz-border-radius:3px; 
  -webkit-border-radius:3px;
}

.pairs {
    margin-top: 5px;
}


/*****************/
/* Media Queries */
/*****************/

@media(max-width:768px) {

  .bs-container-fluid-modified {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .circle, .add-circle {
    height:200px !important;
    width: 200px !important;
  }

  .add-glyph {
    bottom: -18%;
    font-size: 155pt;
  }

  .circle-text {
    font-size: 15pt;
  }

}

@media(max-width:600px) {

  #wrapper #header #header-text {
    z-index: 999;
    margin-top: 30px;
    font-size: 22pt;
  }

  #wrapper.toggled #header #header-text {
    z-index: 999;
    margin-top: 35px;
    font-size: 15pt;
  }
}

@media(max-width:575px) {

  .user-btn {
    visibility: hidden;
  }
  .record-badge {
    visibility: hidden;
  }
}

@media(max-width:450px) {
  .matches-column {
    visibility: hidden;
  }
}

@media(max-width:360px) {
  #wrapper #header #header-text {
    margin-top: 35px;
    font-size: 17pt;
  }
}