<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Tournament Manager</title>
    <link href="{{ links_root() }}static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ links_root() }}static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ links_root() }}static/vendor/simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
    <link href="{{ links_root() }}static/css/styles.css" rel="stylesheet">
</head>
<body>
    <a href="#" id="toolbar-toggle" class="toggle-btn">⋮</a>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i id="toolbar-close" class="fa fa-close fa-2x"></i></a>
                </li>
            </ul>
            <div class="divider" ></div>
            <ul class="sidebar-options">
                <li>
                    <a href="#"><i class="fa fa-plus-square-o fa-2x" data-bind="click: toolbarAdd"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-2x" data-bind="click: toolbarDashboard"></i></a>
                </li>

                {% if logout_url() %}
                <li>
                    <a href="{{ logout_url() }}"><i class="fa fa-sign-out fa-2x"></i></a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login.showLogin') }}"><i class="fa fa-sign-in fa-2x"></i></a>
                </li>
                {% endif %}
            </ul>
        </div> <!-- /sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <header id="header" class="header-bar">
                <h1 id="header-text">
                    <a href="#" data-bind="click: showDashboard">Tournament Manager</a>
                </h1>
                <div class="dropdown user-btn">
                    <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <img src="
                        {% if user_picture %}
                            {{ user_picture }}
                        {% else %}
                            {{ links_root()+"static/img/generic-avatar.png" }}
                        {% endif %}
                        " class="rounded-circle user-img" alt="
                        {% if username %}
                            {{ username }}
                        {% else %}
                            {{ "generic avatar" }}
                        {% endif %}
                        's picture">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if logout_url() %}
                            <a class="dropdown-item" href="{{ logout_url() }}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Sign Out</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('login.showLogin') }}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Sign In</a>
                            <a class="dropdown-item" href="{{ url_for('login.showLogin') }}"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Create Account</a>
                        {% endif %}
                    </div>
                </div>
            </header>

            <div style="max-width: 1000px; margin: auto;">
                <div id="dashboard"></div>
                <div id="new-tournament"></div>
                <div id="add-players"></div>
                <div id="pairings"></div>
                <div id="standings"></div>
                <div id="next-round"></div>
                <div id="delete-prompt"></div>
                <div id="delete-tournaments"></div>
                <div id="edit-tournaments"></div>
                <div id="edit-players"></div>
                <div id="delete-players"></div>
                <div class="sk-fading-circle" data-bind="visible: shouldShowLoader">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
            <div>

        </div>
        <!-- /#page-content-wrapper -->

    </div> <!-- /wrapper -->



    <!-- Bootstrap core JavaScript -->
    <script src="{{ links_root() }}static/vendor/jquery/jquery.min.js"></script>
    <script src="{{ links_root() }}static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Knockout -->
    <script src="{{ links_root() }}static/vendor/knockoutjs/knockout-3.2.0.js"></script>
    <script src="{{ links_root() }}static/js/model/model.js"></script>
    <script src="{{ links_root() }}static/js/model/guest-model.js"></script>
    <script src="{{ links_root() }}static/js/view/loading-view.js"></script>
    <script src="{{ links_root() }}static/js/view/add-players.js"></script>
    <script src="{{ links_root() }}static/js/view/pairings.js"></script>
    <script src="{{ links_root() }}static/js/view/dashboard.js"></script>
    <script src="{{ links_root() }}static/js/view/header.js"></script>
    <script src="{{ links_root() }}static/js/view/main-view-model.js"></script>
    <script src="{{ links_root() }}static/js/view/add-tournament.js"></script>
    <script src="{{ links_root() }}static/js/view/large-modal.js"></script>
    <script src="{{ links_root() }}static/js/view/delete-prompt.js"></script>
    <script src="{{ links_root() }}static/js/utilities/utilities.js"></script>
    <script src="{{ links_root() }}static/js/utilities/modal-prompt.js"></script>
    <script src="{{ links_root() }}static/js/utilities/options-modal.js"></script>
    <script src="{{ links_root() }}static/js/utilities/drop-down-menu.js"></script>
    <script src="{{ links_root() }}static/js/app.js"></script>


    <!-- Toolbar Toggle Script -->
    <script>
    var toggle = function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    }
    $("#toolbar-toggle").click(function(e) { toggle(e); });
    $("#toolbar-close").click(function(e) {
        toggle(e);
    });
    </script>
</body>
</html>