<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Tournament Manager</title>
    <link href="{{ links_root() }}static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ links_root() }}static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ links_root() }}static/vendor/simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
    <link href="{{ links_root() }}static/css/styles.css" rel="stylesheet">
</head>
<body>
    <a href="#" id="toolbar-toggle" class="toggle-btn">⋮</a>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i id="toolbar-close" class="fa fa-close fa-2x"></i></a>
                </li>
            </ul>
            <div class="divider" ></div>
            <ul class="sidebar-options">
                <li>
                    <a href="#"><i class="fa fa-plus-square-o fa-2x" data-bind="click: toolbarAdd"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-2x" data-bind="click: toolbarSettings"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-2x" data-bind="click: toolbarDashboard"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-infoo fa-2x" data-bind="click: toolbarStandings"></i></a>
                </li>
            </ul>
        </div> <!-- /sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <header id="header" class="header-bar">
                <h1 id="header-text">Tournament Manager</h1>
<!--                 <div>
                    <a href="/logout/" class="user-btn">
                        <img src="https://placeimg.com/640/480/any" class="rounded-circle user-img" alt="{{ username }}'s picture">
                    </a>
                </div> -->
<div class="dropdown user-btn">
    <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ user_picture }}" class="rounded-circle user-img" alt="{{ username }}'s picture">
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="

          {% with provider = login_provider() %}
              {% if provider == 'google' %}
                  {{ url_for('login.gdisconnect') }}
              {% elif provider == 'facebook' %}
                  {{ url_for('login.fbdisconnect') }}
              {% endif %}
          {% endwith %}

        "><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Sign Out</a>
    </div>
</div>
            </header>

            <div style="max-width: 1000px; margin: auto;">
                <div id="dashboard"></div>
                <div id="new-tournament"></div>
                <div id="add-players"></div>
                <div id="pairings"></div>
                <div id="standings"></div>
                <div id="next-round"></div>
                <div id="delete-prompt"></div>
                <div id="delete-tournaments"></div>
                <div id="edit-tournaments"></div>
                <div id="edit-players"></div>
                <div id="delete-players"></div>
            <div>

        </div>
        <!-- /#page-content-wrapper -->

    </div> <!-- /wrapper -->



    <!-- Bootstrap core JavaScript -->
    <script src="{{ links_root() }}static/vendor/jquery/jquery.min.js"></script>
    <script src="{{ links_root() }}static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Knockout -->
    <script src="{{ links_root() }}static/vendor/knockoutjs/knockout-3.2.0.js"></script>
    <script src="{{ links_root() }}static/js/model/model.js"></script>
    <script src="{{ links_root() }}static/js/view/add-players.js"></script>
    <script src="{{ links_root() }}static/js/view/pairings.js"></script>
    <script src="{{ links_root() }}static/js/view/standings.js"></script>
    <script src="{{ links_root() }}static/js/view/next-round.js"></script>
    <script src="{{ links_root() }}static/js/view/dashboard.js"></script>
    <script src="{{ links_root() }}static/js/view/main-view-model.js"></script>
    <script src="{{ links_root() }}static/js/view/add-tournament.js"></script>
    <script src="{{ links_root() }}static/js/view/modify-items.js"></script>
    <script src="{{ links_root() }}static/js/view/delete-prompt.js"></script>
    <script src="{{ links_root() }}static/js/utilities/utilities.js"></script>
    <script src="{{ links_root() }}static/js/utilities/modal-prompt.js"></script>
    <script src="{{ links_root() }}static/js/utilities/options-modal.js"></script>
    <script src="{{ links_root() }}static/js/utilities/drop-down-menu.js"></script>
    <script src="{{ links_root() }}static/js/app.js"></script>


    <!-- Toolbar Toggle Script -->
    <script>
    var toggle = function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    }
    $("#toolbar-toggle").click(function(e) { toggle(e); });
    $("#toolbar-close").click(function(e) {
        toggle(e);
    });
    </script>
</body>
</html>