<!DOCTYPE html>
<html>
<head>
  <title>Tournament Manager | Sign in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <link href="/gregslist/static/styles/bootstrap.min.css" rel="stylesheet">
  <link href="/gregslist/static/styles/styles.css" rel="stylesheet">
  <script src="/gregslist/static/js/jquery-3.2.1.min.js"></script>
  <script src="/gregslist/static/js/bootstrap.min.js"></script>
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
<!-- Most of the code below is taken directly from
the Udacity example with a few minor modifications -->

    <div class="container" id="signInWell">
      <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center">
          <h1>Sign in</h1>
          <div class="well well-lg">
              <!-- guest mode -->
              <em>Continue as guest:</em>
              <br>
              <br>
              <div class="text-center">
                <a href="/tournament-manager/guest" class="btn btn-primary" role="button" aria-disabled="true">Guest Mode</a>
              </div>
              <hr>

              <!-- google login -->
              <em>Use your google account:</em>
              <br>
              <br>
              <div class="text-center" id="googleSignInButton">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="{{ GOOGLE_CLIENT_ID }}"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
              </div>
              <script>
              function signInCallback(authResult) {
                  if (authResult['code']) {

                    // Hide the sign-in well now that the user is authorized
                    $('#signInWell').attr('style', 'display: none');

                      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main page
                      $.ajax({
                          type: 'POST',
                          url: '/tournament-manager/gconnect?state={{ STATE }}',
                          processData: false,
                          data: authResult['code'],
                          contentType: 'application/octet-stream; charset=utf-8',
                          success: function(result) {
                              // Handle or verify the server response if necessary.
                              if (result) {
                                  // $('#result').html(result)
                                  // setTimeout(function() {
                                      window.location.href = "/tournament-manager/";
                                  // }, 4000);
                              } else if (authResult['error']) {

                                  console.log('There was an error: ' + authResult['error']);
                              } else {
                                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                              }
                          }
                      });
                  }
              }
              </script>
              <hr>
              <em>Use your facebook account:</em>
              <br>
              <br>


              <!-- facebook-login -->

              <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId: '{{ FACEBOOK_APP_ID }}',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.8'
                    });
                    FB.AppEvents.logPageView();
                };

                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                // run simple test of the apio after login success
                function sendTokenToServer() {

                    // Hide the sign-in well now that the user is authorized
                    $('#signInWell').attr('style', 'display: none');
                    var access_token = FB.getAuthResponse()['accessToken'];
                    console.log(access_token)
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function(response) {
                        console.log('Successful login for: ' + response.name);
                        $.ajax({
                            type: 'POST',
                            url: '/tournament-manager/fbconnect?state={{STATE}}',
                            processData: false,
                            data: access_token,
                            contentType: 'application/octet-stream; charset=utf-8',
                            success: function(result) {
                                // Handle or verify the server response if necessary.
                                if (result) {
                                    // $('#result').html(result)
                                    // setTimeout(function() {
                                        window.location.href = "/tournament-manager/";
                                    // }, 4000);
                                } else {
                                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                                }
                            }
                        });
                    });
                }
              </script>
                <div class="text-center">
                  <fb:login-button
                    scope="public_profile,email"
                    onlogin="sendTokenToServer();">
                    <a href="javascript:sendTokenToServer()">Login with Facebook</a>
                  </fb:login-button>
                </div>
          </div> <!-- /panel -->
        </div> <!-- /column  -->
      </div> <!-- /row -->
    </div> <!-- /container -->
    <div id="result"></div>
</body>
</html>